@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f7f4;
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/bg-logo.png");
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: 50em;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-sidebar > div:first-child {
  background-color: #6eabb0;
  border-radius: 0%;
  width: 15rem;
}

.app-sidebar img {
  width: 53px;
  height: 50px;
  margin-right: 5px;
}

[data-testid="flowbite-sidebar-items"] {
  text-align: center;
}

[data-testid="flowbite-sidebar-item-group"] div {
  margin-bottom: 50px;
  font-weight: bold;
  color: #32292f;
  background-color: #6eabb0;
}

[data-testid="flowbite-sidebar-item-group"] div:hover {
  background-color: #6eabb0;
  color: #f0f7f4;
}

.header-profile svg {
  stroke: #705d55;
}

.home-input textarea {
  border-color: #705d55;
}

.read-more {
  box-shadow: 0px -3px 10px #f0f7f4;
}

.search-input input {
  border-color: #705d55;
}

[role="menuitem"] button:hover {
  background-color: rgb(235, 235, 235);
}
