@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F0F7F4;
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./assets/bg-logo.png");
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: 50%;
    width: 100vw;
    height: 100vh;
}